body{
    font-size: small;
}

#properties{
    position: center;
    width: 600px;
}

h3.center {
    text-align: center;
}

div.base {
    height: 100%;
    min-width: 1024px;
    width:1024px;
}

div.input{
    height: 120px;
    min-width: 1024px;
    width:1024px;
}

div.panel {
    float: left;
    width: 450px;
    height: 50px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

#properties{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.statistics{
    float: left;
}

div.prices{
    float: right;
}

button.check{
    margin: 5px;
    width: 160px;
    height: 50px;
}

table{
    border-collapse: collapse;
    font-size: smaller;
}

th, td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

th.date {
    width:60px;
}

th.name{
    width: 95px;
}

th.amount{
    width: 45px;
}

th.note{
    width: 300px;
    text-overflow: ellipsis;
}

td.amount {
    text-align: right;
}

span.highlight {
    color: red;
}